<launch>
        <!-- <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node> -->
        <param name="robot_description" command="$(find xacro)/xacro '$(find split_aloha_mid_360)/urdf/split_aloha_mid_360_with_piper.xacro'" />

        <node name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" ></node>
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

        <node name="rviz" pkg="rviz" type="rviz" args="-d $(find split_aloha_mid_360)/rviz/display.rviz" />
</launch>